# --- C++ / CMake ---
build/
out/
bin/
*.obj
*.exe
*.dll
*.lib
*.pdb
CMakeCache.txt
CMakeFiles/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- IDEs & OS ---
.vs/
.vscode/
.idea/
*.suo
*.user
.DS_Store
Thumbs.db

# --- Project Specific ---
# Игнорируем локальные конфиги, оставляя только шаблоны
signaling/config/local_*.json
